/* Import Poppins font locally */
@import "@fontsource/poppins/400.css";
/* regular */
@import "@fontsource/poppins/500.css";
/* medium */
@import "@fontsource/poppins/600.css";
/* semi-bold */
@import "@fontsource/poppins/700.css";
/* bold */
/* extra-bold */
@import "@fontsource/poppins/800.css";
/* black / ultra-bold */
@import "@fontsource/poppins/900.css";


@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}



/* CSS for Cropping.js modal  */
.cropper-bg {
    background-color: #222222 !important;
    background-image: none !important;
}

.cropper-view-box {
    outline: 2px solid #00AEEF !important;
    border-radius: 100% !important;
    /* blue border */
}

.cropper-face {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
